html,body{
    overflow: hidden;
}
body{
    background: #0e1212;
}
#particles-js{
    position: absolute;
    width: 100%;   height: 100vh;
    background: #0e1212;
    z-index: 1;
}
.our-branding-section{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.our-branding-section-div{
   transform: translate(10% ,-40%);
}
.our-branding-section-div-message{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 36px;
}
.our-branding-section-div-message h2{
    color: white;
    font-weight: 800;
}
#my-name{
    color: #682ae9;
}
.our-branding-section-div-job-done h3{
    margin: 15px 5px;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-weight: 300;
}

@media only screen and (max-width:950px){
    .our-branding-section{
        padding: 10px;
    }
    .our-branding-section-div{
       transform: translate(5% ,-43%);
    }
    .our-branding-section-div-message{
        font-size: 28px;
    }
    .our-branding-section-div-job-done h3{
        margin: 15px 0px;
        font-size: 14px;
    }
}

@media only screen and (max-width:650px){
    .our-branding-section{
        padding: 10px;
    }
    .our-branding-section-div{
       transform: translate(4% ,-43%);
    }
    .our-branding-section-div-message{
        font-size: 22px;
    }
    .our-branding-section-div-job-done h3{
        font-size: 12px;
    }
}

@media only screen and (max-width:450px){
    .our-branding-section{
        padding: 10px;
    }
    .our-branding-section-div{
       transform: translate(2% ,-63%);
    }
    .our-branding-section-div-message{
        font-size: 17px;
    }
    .our-branding-section-div-job-done h3{
        font-size: 12px;
        word-break: keep-all;
    }
}