@font-face {
  font-family: 'Roboto Mono';
  src: url('fonts/roboto/RobotoMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
*{
  padding: 0;
  margin: 0; 
  font-family: 'Roboto Mono', monospace,sans-serif;
}
html,body{
    background-color: #0e1212;
    margin: 0px;
    padding: 0px;
    color: #682ae9;
    overflow-x: hidden;
}
header{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    background-color: #0e1212;
}
.web-desktop-header{
    height: fit-content;
    width: 100%;
    background-color: #0e1212;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 40px;
    flex-direction: row;
}
.web-desktop-logo{ /* Branding*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    background-color: #0e1212;
}
.web-desktop-logo-img{
    height: 50px;
    width: 40px;
    background-color: #0e1212;
    background-image: url('../content/logo/faijanmomin-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.web-desktop-logo-name{
  color: #fff;
  background-color: #0e1212;
  width: fit-content;
  height: fit-content;
}
.web-desktop-logo-name h1{
  color: #682ae9;
  background-color: #0e1212;
  font-family: 'Roboto Mono',monospace;
  font-size: 32px;
  font-weight: 900;
}
.web-desktop-header-navigation{
  width: fit-content;
  height: fit-content;
  padding: 0px 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  background-color: #0e1212;
}
.web-desktop-nav-menu{ /*Navigation Menu*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e1212;
  color: #fff;
}
.web-desktop-nav-menu ul{ /*Navigation UL*/
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.web-desktop-nav-menu a{ /*Navigation Links A*/
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto Mono',monospace;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.web-desktop-nav-menu a:hover{
  color: #682ae9;
}

.web-desktop-social-media{ /*Social media Icons*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e1212;
  color: #682ae9;
}
.web-desktop-social-media ul{ /*Social media UL*/
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
}
.web-desktop-social-media a{ /*Social media A*/
  text-decoration: none;
  color: #682ae9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-social-media-icon{
  height: 25px;
  width: 25px;
  background-color: transparent;
  color: #682ae9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.navigation-social-media-icon:hover{
  transition: 300ms ease-in-out;
  transform: scale(1.25);
}
#nav-icon-github{
  background-image: url('../content/icons/github.svg');
  fill: #fff;
}
#nav-icon-linkedin{
  background-image: url('../content/icons/linkedin.svg');
}
#nav-icon-twitter{
  background-image: url('../content/icons/twitter.svg');
}
#nav-icon-instagram{
  background-image: url('../content/icons/instagram.svg');  
}

/* Mobile View For Header */
@media only screen and (max-width:950px){
  .web-desktop-header{
      padding: 5px 30px;
  }
  .web-desktop-logo-img{
      height: 40px;
      width: 30px;
  }
  .web-desktop-logo-name h1{
    font-size: 26px;
  }
  .web-desktop-header-navigation{
    justify-content: flex-start;
    gap: 20px;
  }
  .web-desktop-nav-menu{ /*Navigation Menu*/
    justify-content: center;
    align-items: stretch;
    background-color: #000000cc;
    
  }
  #web-desktop-nav-menu{
    position: absolute;
    height: 100vh;
    width: 260px;
    top: 60px;
    left: -1000px;
    z-index: 9;
    transition: left 600ms ease-in-out;
  }
  #web-desktop-nav-menu-show{
    position: absolute;
    height: 100vh;
    width: 260px;
    top: 60px;
    left: 0px;
    z-index: 9;
    transition: left 600ms ease-in-out;
  }
  .web-desktop-nav-menu ul{ /*Navigation UL*/
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    padding-top: 100px;
  }
  .web-desktop-nav-menu a{ /*Navigation Links A*/
    font-size: 22px;
  }
  
  .navigation-social-media-icon{
    height: 23px;
    width: 23px;
  }
}

@media only screen and (max-width:500px){
  #web-desktop-social-media{
    position: absolute;
    height: 10vh;
    width: 260px;
    top: 320px;
    left: -1000px;
    z-index: 9;
    transition: left 600ms ease-in-out;
  }
  #web-desktop-social-media-show{
    position: absolute;
    height: 10vh;
    width: 260px;
    top: 320px;
    left: 0px;
    z-index: 9;
    transition: left 600ms ease-in-out;
  }
  .web-desktop-social-media{ /*Social media Icons*/
    background-color: transparent;
  } 
}
@media only screen and (max-width:400px){
  header{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #0e1212;
}
  .web-desktop-header{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 3px 10px;
    flex-direction: row;
  }
}
@media only screen and (max-width:340px){
  .web-desktop-logo-name h1{
    font-size: 23px;
  }
}


/* Hamburger */
.mobile-hamburger-icon{  /* Hamburger Icon */
    display: none;
}
.menu {
    z-index: 1;
    position: unset;
    transform: translate(50%, 50%);
    cursor: pointer;
    transition: 0.5s ease;
    height: 50px;
  }
  .menu:hover .bar {
    box-shadow: 1px 1px 7px 1px RGBa(0, 0, 0, 0.3);
  }
  .menu .bar {
    width: 30px;
    height: 3px;
    background: #fff;
    box-shadow: 1px 1px 3px RGBa(0, 0, 0, 0.4);
    border-radius: 2px;
    transition: 0.4s ease;
  }
  .menu .bar:not(:first-child) {
    margin-top: 6px;
  }
  
  #hamburger {
    position: absolute;
    left: -999px;
    top: -999px;
  }
  
  #hamburger:checked + .menu {
    transform: translate(50%, 50%) rotatey(180deg);
  }
  #hamburger:checked + .menu .bar {
    transform: rotatey(180deg) rotatex(360deg);
  }
  #hamburger:checked + .menu .bar:first-child {
    transform: rotate(-45deg);
    margin-top: 0px;
  }
  #hamburger:checked + .menu .bar:nth-child(2) {
    opacity: 0;
  }
  #hamburger:checked + .menu .bar:nth-child(3) {
    margin-top: -15px;
    transform: rotate(45deg);
  }
  
/* Mobile View For Hamburger */
@media only screen and (max-width:950px){
  .mobile-hamburger-icon{  /* Hamburger Icon */
    display: block;
  }
}